/* PAGE */

body,
.pure-g [class*=pure-u] {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

code {
  display: block;
  margin: 20px 0 15px 0;
  padding: 10px;
  background: #eee;
}

.header {
  text-align: center;
}

.splash-container {
  box-sizing: border-box;
  width: 100%;
  padding: 45px 20px;
}

.container {
   box-sizing: border-box; 
  width: 100%;
  height: 100%;
  padding: 45px 20px; 
  background-color: rgb(224, 192, 205);
}

.pure-button-primary {
  background-color: #0c1a2b;
}

.pure-button-primary:hover {
  background-color: #233e5e;
}

.pure-form input[type="text"]:focus {
  border-color: #0c1a2b;
}

/* NAVBAR */

.navbar {
  position: fixed;
  padding: 5px;
  background: #1787c7;
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

.navbar a {
  color: #fff;
}

.navbar a:active,
.navbar a:focus,
.navbar a:hover {
  background: #233e5e;
}

.navbar .pure-menu-heading {
  font-weight: bold;
  text-transform: none;
}

.navbar .navbar-right {
  float: right;
}

.navbar .uport-logo {
  height: 16px;
  margin-right: 10px;
}


 .splash-container {
  /* background: #f3f3f4; */
  background-image: url("./img/txt3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  overflow: hidden;
  /* The following styles are required for the "scroll-over" effect */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position:fixed !important;
}
.splash {
  /* absolute center .splash within .splash-container */
  width: 50%;
  height: 50%;
  margin: auto;
  position: fixed;
  top: 10px; left: 0; bottom: 0; right: 0;
  text-align: center;
  text-transform: uppercase;
}

/* This is the main heading that appears on the blue section */
.splash-head {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: rgb(0, 132, 241);
  border: 3px solid rgb(123, 7, 247);
  padding: 1em 1.6em;
  font-weight: 100;
  border-radius: 8px;
  line-height: 2em;
}

/* This is the subheading that appears on the blue section */
.splash-subhead {
  color: rgb(33, 67, 218);
  letter-spacing: 0.05em;
  opacity: 1;
}

.pure-u-1-1 {
  color: rgb(33, 67, 218);
  border: 3px solid rgb(65, 7, 247);
  /* border-top: -100px; */
  border: auto;
  width: 400px;
  height: 350px;
  padding-left: 550px;
  margin:auto;
  background-image: url("./img/txt6.jpeg");
  background-repeat: no-repeat;
  background-size: 500px 350px ;
  /* margin-top:center;
  margin-left: 150px;
  margin-bottom: -100px; */
}


