/* PAGE */

body,
.pure-g [class*=pure-u] {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

code {
  display: block;
  margin: 20px 0 15px 0;
  padding: 10px;
  background: #eee;
}

.header {
  text-align: center;
}


/* This is the subheading that appears on the blue section */
.splash-subhead {
  color: rgb(33, 67, 218);
  letter-spacing: 0.05em;
  opacity: 1;
}

.container {
  box-sizing: border-box; 
  width: 100%;
  height: 100%;
  padding: 45px 20px; 
  background-color: rgb(224, 192, 205);
}

.btn-primary {
  margin: 2%;
}


.pure-form input[type="text"]:focus {
  border-color: #0c1a2b;
}

/* NAVBAR */

.navbar {
  margin-bottom: 0;
  background-color: #f4511e;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
  font-family: Montserrat, sans-serif;
  flex-wrap: nowrap;
}

.navbar-expand-lg .navbar-collapse{
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}

@media (min-width: 992px){
  .navbar-expand-lg .navbar-nav {
    flex-wrap: nowrap ;
  }
}


.navbar li a, .navbar .navbar-brand {
  color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #f4511e !important;
  background-color: #fff !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}

.jumbotron {
  padding: 100px 25px;
  font-family: Montserrat, sans-serif;
}

.driverForm {
  align-items: center;
  border: 2px solid #233e5e;
  border-radius: 2%;
  flex-direction: column;
  padding: 3%;
}

.signup{
  color: rgb(46, 194, 194);
  border: 3px solid rgb(212, 43, 228);
  /* border-top: -100px; */
  border: auto;
  width: 700px;
  height: 380px;
  padding-left: 420px;
  margin:auto;
  background-color:rgb(245, 228, 238) ;
  background-image: url("./img/txt6.jpeg");
  background-repeat: no-repeat;
  background-size: 400px 380px ;
  /* margin-top:center;
  margin-left: 150px;
  margin-bottom: -100px; */
}
/* .container1{
  box-sizing: border-box; 
  width: 100%;
  height: 100%;
  padding: 45px 20px; 
  background-color: rgb(224, 192, 205);

} */

.fill-window {
  z-index: -1;
  height: 100%;
  left: 0;
  width: 100%;
  overflow: hidden;
  padding: 100px 20px; 
   /* background-color: rgb(75, 3, 75); */
  background-image:url("./img/txt15.jpeg") ; 
  background-repeat: no-repeat;
  background-size: cover;
}


#ride-form {
 background-color: #760676; 
}
#ride-form:hover {
  box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

